<header class="header">
    {% block header %}
        <div class="container">
            <div class="row gap-5">
                <div class="col-12">
                    <div class="header__container">
                        <a class="navbar-brand d-flex" href="{{ site.url }}" title="{{ site.name }}">
                            {% if options.header_logo is not empty %}
                                <img src="{{ options.header_logo.url }}" alt="{{ site.name }}" class="header__logo" />
                            {% else %}
                                <h1>{{ site.name }}</h1>
                            {% endif %}
                        </a>
                        <div class="header__search">
                            {% include 'components/search.twig' %}
                        </div>
                        <div class="header__account">
                            <span id="js-open-login" class="header__profile">
                                {{ fetch_svg('profile') }} ورود | ثبت نام
                                |
                                {{ fetch_svg('cart') }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 header__nav">
                    <nav id="nav-main" class="nav-main" role="navigation">
                        {% include "components/menu/menu-primary.twig" with {'items': primarymenu.get_items} %}
                    </nav>
                </div>
            </div>
        </div>
    {% endblock %}
</header>